@page "{id:int}"
@model NguyenTrungThanhRazorPages.Pages.Admin.AccountManagement.EditModel
@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit Account</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Account.AccountId" />

            <div class="form-group mb-3">
                <label asp-for="Account.AccountName" class="control-label"></label>
                <input asp-for="Account.AccountName" class="form-control" />
                <span asp-validation-for="Account.AccountName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Account.AccountEmail" class="control-label"></label>
                <input asp-for="Account.AccountEmail" class="form-control" />
                <span asp-validation-for="Account.AccountEmail" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Account.AccountPassword" class="control-label"></label>
                <input asp-for="Account.AccountPassword" type="password" class="form-control" />
                <span asp-validation-for="Account.AccountPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Account.AccountRole" class="control-label"></label>
                <input asp-for="Account.AccountRole" class="form-control" />
                <span asp-validation-for="Account.AccountRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}