@page
@model NguyenTrungThanhRazorPages.Pages.Staff.CategoryManagement.CreateModel
@{
    ViewData["Title"] = "Create Category";
}

<h1>Create New Category</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Category.CategoryDesciption" class="control-label"></label>
                <textarea asp-for="Category.CategoryDesciption" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}