@page "{id:int}"
@model NguyenTrungThanhRazorPages.Pages.Staff.CategoryManagement.DetailsModel
@{
    ViewData["Title"] = "Category Details";
}

<h1>Category Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">Category Name</dt>
        <dd class="col-sm-9">@Model.Category.CategoryName</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Category.CategoryDesciption</dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>