<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FUNewsManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NguyenTrungThanhRazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" ... />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FUNewsManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        @{
                            var userRole = Context.Session.GetString("Role");

                            if (!string.IsNullOrEmpty(userRole))
                            {
                                if (userRole == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Admin/AccountManagement/Index">Manage Accounts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Admin/Report">Report</a>
                                    </li>
                                }
                                else if (userRole == "1") 
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Staff/CategoryManagement/Index">Manage Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Staff/NewsManagement/Index">Manage News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Staff/NewsHistory">News History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Staff/Profile">My Profile</a>
                                    </li>
                                }
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Email")))
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">Welcome, @Context.Session.GetString("Name")!</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FUNewsManagementSystem - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>